/* Set the background image sources */
#datejust{ background-image: url(swipeoyster/imagenesoyster/datejust.jpg); }
#day-date { background-image: url(swipeoyster/imagenesoyster/date.jpg); }
#day-date2 { background-image: url(swipeoyster/imagenesoyster/date2.jpg); }
#cosmograph-daytona { background-image: url(swipeoyster/imagenesoyster/cosmo.jpg); }
#explorer { background-image: url(swipeoyster/imagenesoyster/explorer.jpg); }
#submariner { background-image: url(swipeoyster/imagenesoyster/submariner.jpg); }
/* Background settings */
.demo-page {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
/* Transparent footer */
.demo-page .ui-footer {
	background: none;
	border: none;
	bottom: 0;
}
/* The footer won't have a height because there are only two absolute positioned elements in it.
So we position the buttons from the bottom. */
.control.ui-btn-left, .trivia-btn.ui-btn-right {
	top: auto;
	bottom: 7px;
	margin: 0;
}
/* Custom styling for the trivia source */
small {
	font-size: .75em;
	color: #666;
}
/* Prevent text selection while swiping with mouse */
.demo-page .ui-header, .ui-title, .control .ui-btn, .trivia-btn {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}